<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.vamoslac.myapp">

    <!-- BEGIN PERMISSIONS -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>         <!-- for Device Name -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>  <!-- for Phone Number -->
    <!-- <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <!-- END PERMISSIONS -->

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
      <!-- BEGIN GOOGLE MAPS CONFIG -->
      <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyCjb5c-5XvzhvdMXCjIjNaK-Zdh-L_qVmM"/>
      <!-- END GOOGLE MAPS CONFIG -->
    </application>

</manifest>
